#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.password-component {
  position: relative;
}

.password {
  padding-right: 40px; /* Adjust as needed, Increase padding for larger icons */
}

.password-login .password-toggle {
  position: absolute;
  top: 70%; /* Position the button vertically centered */
  right: 150px; /* Adjust as needed, the distance from the right  */
  transform: translateY(-50%); /* Center the button vertically */
  background: none;
  border: none;
  cursor: pointer;
}

.password-create-account .password-toggle {
  position: absolute;
  top: 70%; /* Position the button vertically centered */
  right: 125px; /* Adjust as needed, the distance from the right  */
  transform: translateY(-50%); /* Center the button vertically */
  background: none;
  border: none;
  cursor: pointer;
}

.password-toggle img {
  position: absolute;
  width: 20px;
  height: 20px;
}

.icons {
  position: absolute;
}

.icons i {
  position: relative;
  left: 440px;
  top: 18px;
  font-size: 2rem;
  cursor: pointer;
}